<h1>Welcome <%= @player_one.name %> and <%= @player_two.name %></h1>
<table class='racer_table'>
  <tr id='player1_strip' data-player-id='<%= @player_one.id %>' data-name='<%= @player_one.name %>'>
    <td class='active'></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='finish'></td>
  </tr>

  <tr id='player2_strip' data-player-id='<%= @player_two.id %>' data-name='<%= @player_one.name %>'>
    <td class='active'></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='finish'></td>
  </tr>
</table>


<h2></h2>
